/*宝贝去哪开始*/
#asimg{display:none;}


.baby_div{width: 100%;height: 100%;text-align: center;opacity: 0.5;}
.baby-input6{display: block; margin: auto;width: 300px;height: 50px;border-radius: 6px;background: #57B949;color: white;text-align: center;border: 1px solid #57B949;margin-top: 40px;}
.baby-input5{width: 300px;display: block;margin: auto;height: 100px;border-radius: 6px;margin-top: 30px;border:0px solid lightgray;line-height: 27px;background: #f8f8f8;padding-left: 20px;font-size: 14px;color: #999999;outline: none;border: 1px solid #f8f8f8;}
.baby-input1,.baby-input3,.baby-input4{width: 300px;display: block;margin: auto;height: 40px;border-radius: 6px;margin-top: 30px;background: #f8f8f8;border: 1px solid #f8f8f8;padding-left: 20px;font-size: 14px;color: #999999;outline: none;}
.baby-input1{margin-top: 40px;}
.baby-input2{width: 300px;margin: auto;margin-top: 30px;border:0px solid lightgray;text-align: center;cursor: pointer;height: 90px;}
.baby-input2 div{float: left;width: 50%;text-align: center;}
.baby-input2 div p{width: 100%;text-align: center;}
.baby-input2-d1 p span{background: #57B949;}
.baby-input2 div p span{width: 16px; height: 16px;border-radius: 8px;display: inline-block;}
@media only screen and (min-width: 1200px) {
	.baby_d1{width: 100%;text-align: center;height: 100%;overflow: hidden;}
	
	.baby{width: 100%;height: 784px;}
	.baby_input{width: 384px;height: 590px;border: 0px solid black;border-radius: 14px;background: #FFFFFF;position: absolute;top: 140px;}
}
@media only screen and (max-width: 1199px) {
	.baby{width: 100%;height: 784px;}
	.baby_d1{width: 100%;text-align: center;height: 100%;overflow: hidden;}
	.baby_input{width: 384px;height: 590px;border: 0px solid black;border-radius: 14px;background: #FFFFFF;position: absolute;top: 140px;}
}
/*@media only screen and (max-width: 767px) {
	.baby_input{background: rgba(255,255,255,0.5);}
}*/
/*宝贝去哪结束*/